.font-roboto {
    font-family: 'Roboto', sans-serif;
    /* Agrega cualquier estilo adicional que desees */
}

.bg-gray-800-animated {
    background-color: #888; /* Inicia con el color que desees */
    transition: background-color 2s; /* Ajusta la duración según tus preferencias */
  }
  
  .bg-gray-800-animated:hover {
    background-color: #999; /* Color al que cambiará al pasar el ratón por encima */
  }